html, body {
  box-sizing: border-box;
  height: 100%;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-color: hsl(0, 100%, 74%);
  background-image: url(../images/bg-intro-mobile.png);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 1.4em;
}

input {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: thin;
  font-weight: 600;
  font-size: 0.8em;
  padding: 1em;
  margin-bottom: 1.2em;
}

input:focus, input:valid {
  outline: none;
  background-color: #fff;
}

input:invalid {
  border-color: hsl(0, 100%, 74%);
}

.footer {
  flex-shrink: 0;
}

.content {
  margin: 4em 1.4em;
  flex: 1 0 auto;
}

.bold-text {
  font-weight: 700;
}

.shadow {
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}

.secondary {
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.8em;
}

.rounded {
  border-radius: 6px;
}

.info-panel {
  background-color: hsl(248, 32%, 49%);
  padding: 1em 1.4em;
  margin-bottom: 1.6em;
}

.submit {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.8em 1.2em;
  margin-bottom: 1.2em;
  box-shadow: 0 4px hsl(154, 59%, 45%);
}

.submit:hover {
  opacity: 70%;
}

.terms {
  color: hsl(246, 25%, 77%);
  font-size: 0.7em;
  font-weight: 500;
}

.terms>a {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
  font-weight: 700;
}

@media only screen and (min-width: 376px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
  }
}

@media only screen and (min-width: 800px) {

  h1 {
    font-size: 2.4em;
  }

  h1, .secondary {
    text-align: left;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .left-col, .right-col {
    flex: 1 0 50%;
    max-width: 28em;
  }
}
